.posts-skeleton-container,
.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 100%;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding: 0 2rem;
  }
}
