.post-card {
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #fff;
  transition: all 0.4s ease;
  margin-bottom: 1rem;
}

.post-card h2 {
  color: #424242;
  margin-bottom: 1rem;
}

.post-card p {
  line-height: 2rem;
}

.post-card:hover {
  border-color: #743ad5;
}
